.section {
  padding-top: 20px;
  padding-bottom: 40px;
}

.exercises_title-row-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.exercises_title-wrapper {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.section-title {
  color: var(--primary-dark);
  font-size: 28px;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-right: 8px;
  margin-bottom: 20px;
}

#title-category {
  text-transform: capitalize;
}

.section-title_additional {
  color: var(--primary-dark-50);
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-left: 4px;

  text-transform: capitalize;
}

.search-box {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;

  width: 100%;
  max-width: 335px;
}

.search-input {
  width: 100%;
  height: 44px;

  padding: 12px 46px 12px 14px;

  border-radius: 30px;
  border: 1px solid var(--primary-dark);

  background-color: transparent;
  outline: transparent;
}

.search-input::placeholder {
  font-size: 14px;
  line-height: 1.42;
  color: var(--primary-dark);
}

.search-btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 18px;
  height: 18px;
  padding: 0;

  border: none;
  background-color: transparent;
}

.search-icon {
  fill: var(--primary-dark);
}

.visually-hidden-ext {
  position: absolute;
  width: 1px;
  height: 0px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.exercises_filter-list {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}

.exercises_filter-item {
  position: relative;
}

.exercises_filter-btn {
  border: none;
  background-color: transparent;
  padding: 0 0 4px 0;
  color: var(--primary-dark-60);
  font-size: 14px;
  line-height: 1.43;

  transition: color var(--transition-dur-func);
}

.exercises_filter-btn:hover,
.exercises_filter-btn:focus {
  color: var(--primary-dark);
}

.active {
  color: var(--primary-dark);
}

.row-accent::after {
  content: '';
  display: block;

  position: absolute;
  bottom: -4px;
  left: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--primary-dark);

  background-repeat: no-repeat;
  background-position: center;

  opacity: 0;

  transition: opacity var(--transition-dur-func);
}

.row-accent.active::after,
.row-accent.active:hover::after,
.row-accent.active:focus::after {
  opacity: 1;
}

.exercises_category-set {
  margin-bottom: 80px;
}

.exercises_category-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.exercises_category-item {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 335px;
  width: 100%;

  height: 225px;
  background-color: linear-gradient(
    0deg,
    rgba(17, 17, 17, 0.5) 0%,
    rgba(17, 17, 17, 0.5) 100%
  );

  border-radius: 12px;

  transition: scale var(--transition-dur-func);
}

.exercises_category-item:hover,
.exercises_category-item:focus {
  cursor: pointer;
  scale: 1.05;
}

.exercises_category-title {
  margin-bottom: 2px;

  color: var(--bg-color);
  text-align: center;

  font-size: 20px;
  line-height: 1;

  text-transform: capitalize;
}

.exercises_category-text {
  color: var(--bg-color-40);
  text-align: center;

  font-size: 12px;
  line-height: 1.5;
}

.exercises_pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;

  margin-top: 20px;
}

.exercises_pagination-item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.04em;
  text-align: center;

  color: var(--grey-page-num);

  cursor: pointer;
}

.exercises_pagination-item.current {
  color: var(--primary-dark);

  border: 1px solid var(--primary-dark);
  border-radius: 50%;
}

.page-num {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  width: 100%;

  border: none;
  background-color: transparent;

  color: var(--grey-page-num);
}

.exercises_pagination-item.current .page-num {
  color: currentColor;
}

.sorry-message {
  margin-top: 40px;
  text-align: center;

  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
}
.exercises_filter-box {
  display: flex;
  flex-direction: column;
}

.exercises_sorted-box {
  margin-bottom: 16px;
  margin-left: auto;
  display: flex;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 32px;
    padding-bottom: 36px;
  }

  .section-title {
    font-size: 44px;
    line-height: 1.09;
    margin-right: 8px;

    margin-bottom: 32px;
  }

  .section-title_additional {
    font-size: 24px;
    line-height: 1.33;
  }

  .exercises_tab-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }

  .search-box {
    margin: 0;
    width: 273px;
  }

  .search-input {
    width: 273px;
    height: 48px;
    padding: 12px 46px 12px 14px;

    border-radius: 30px;
    border: 1px solid var(--primary-dark);

    background-color: var(--bg-color);
  }

  .search-input::placeholder {
    font-size: 16px;
    line-height: 1.5;
  }

  .exercises_filter-list {
    margin-bottom: 0;
  }
  .exercises_filter-btn {
    font-size: 16px;
    line-height: 1.5;
  }

  .exercises_category-set {
    margin-bottom: 64px;
  }

  .exercises_category-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    column-gap: 15px;
    row-gap: 32px;
  }

  .exercises_category-item {
    height: 225px;
    width: calc((100% - 2 * 15px) / 3);
  }
  .exercises_category-title {
    font-size: 24px;
  }

  .exercises_pagination {
    margin-top: 32px;
  }

  .exercises_pagination-item {
    font-size: 20px;
    line-height: 1.33;
  }

  .exercises_sorted-box {
    margin-bottom: 16px;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 32px;
    padding-bottom: 132px;
  }

  .exercises_title-row-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .exercises_container-page {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
  }

  .exercises_tab-wrapper {
    width: 566px;
    justify-content: flex-end;
  }

  .exercises_filter-list {
    margin-left: 30px;
  }

  .exercises_category-set {
    width: 900px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .exercises_category-list .favorite-info-card {
    width: calc((100% - 1 * 16px) / 2);
  }

  .exercises_category-list {
    width: 900px;
  }

  .exercises_category-item {
    height: 242px;
  }
}
