.card-title-container > svg {
  width: 24px;
  height: 24px;
}

.favorites-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .favorites-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .favorites-section {
    padding-top: 90px;
    padding-bottom: 63px;
    padding-right: 0;
  }
}

.favorite-info-card {
  position: relative;
  padding: 16px;
  width: 335px;
  height: 141px;

  border-radius: 15px;
  background: var(--white);

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .favorite-info-card {
    width: 344px;
  }
}

@media screen and (min-width: 1440px) {
  .favorite-info-card {
    width: 416px;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.category-and-icon {
  display: flex;
  gap: 8px;
  align-items: center;
}

.category-tag {
  padding: 5px 8px;

  font-size: 12px;
  /* font-weight: 500; */
  font-weight: var(--font-weight-medium);

  text-transform: uppercase;
  line-height: normal;

  border-radius: 15px;
  border: 1px solid var(--primary-dark);
}

.icon-rating-container {
  display: flex;
  gap: 2px;

  padding-left: 8px;
}

.rating-info-card {
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: var(--font-weight-reg);
  line-height: 18px;
}

.start-btn {
  display: flex;
  gap: 8px;
  align-items: center;

  padding: 0;
  width: 58px;
  height: 18px;
  border: none;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  background-color: inherit;
}

.card-title-container {
  display: flex;
  gap: 16px;
  align-items: center;

  margin-bottom: 16px;
}

.card-title {
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: var(--font-weight-reg);
  line-height: 20px;

  text-wrap: nowrap;
}

.card-info-list {
  display: flex;
  gap: 10px;
  justify-content: flex-start;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .card-info-list {
    gap: 16px;
  }
}

.item-text {
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: var(--font-weight-reg);
  line-height: 18px;

  color: rgba(36, 36, 36, 0.4);
}

.item-text > em {
  display: inline-flex;

  color: var(--primary-dark);
  font-style: normal;
}

@media screen and (max-width: 1440px) {
  .item-text > em > strong {
    visibility: hidden;
    width: 0;
  }
}

.remove-btn {
  border: none;
  background-color: inherit;
}

.list-thumb {
  position: relative;
}

@media screen and (min-width: 1440px) {
  .list-thumb {
    width: calc(100% + 16px);
    height: 100%;

    overflow-y: scroll;
  }
}

.favorite-cards-list {
  display: flex;
  gap: 20px;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .favorite-cards-list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 16px;
    padding-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .favorite-cards-list {
    align-self: flex-start;
  }
}

.scrollbar-container {
  position: relative;
  display: flex;
  justify-content: flex-start;

  margin-bottom: 20px;
  width: 100%;

  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .scrollbar-container {
    margin-bottom: 32px;
  }
}

.list-thumb::-webkit-scrollbar {
  width: 8px;
}

.list-thumb::-webkit-scrollbar-track {
  border-radius: 12px;
  background: rgba(36, 36, 36, 0.1);
}

.list-thumb::-webkit-scrollbar-thumb {
  width: 8px;
  height: 153px;

  border-radius: 12px;
  background: var(--primary-dark);
}

.quotation-container {
  width: 100%;
  margin-bottom: 32px;
  height: 100vh;

  background-color: rgb(186, 186, 186);
}

@media screen and (min-width: 1440px) {
  .favorites-container {
    display: flex;
    gap: 32px;

    height: 100vh;
  }
}

.favorites-title {
  margin-bottom: 20px;

  font-size: 28px;
  font-weight: var(--font-weight-reg);
  line-height: 38px;
  letter-spacing: -0.56px;
}

@media screen and (min-width: 768px) {
  .favorites-title {
    margin-bottom: 32px;

    font-size: 44px;
    line-height: 48px;
    letter-spacing: -0.88px;
  }
}

.text-nocard-container {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 318px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 46px;
}

@media screen and (min-width: 768px) {
  .text-nocard-container {
    max-width: 554px;
    padding-top: 68px;
    padding-bottom: 188px;
  }
}

@media screen and (min-width: 1440px) {
  .text-nocard-container {
    height: 334px;
    padding: 0;
  }
}

.no-cards-text {
  align-self: center;
  text-align: center;

  width: 318px;
  height: auto;

  font-size: 14px;
  font-weight: var(--font-weight-reg);
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .no-cards-text {
    width: 554px;

    font-size: 18px;
    line-height: 24px;
  }
}

.gif-container {
  position: absolute;

  top: 28%;
  right: 16px;
  width: 72px;
  height: auto;
}

.gif-container > img {
  opacity: 0;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1440px) {
  .gif-container {
    top: 0;
    right: 112px;
  }
  .gif-container > img {
    opacity: 1;
  }
}

@media screen and (min-width: 1440px) {
  .favorite-info-card:hover .gif-container > img {
    transition-duration: 1250ms;
    transition-timing-function: ease-in-out;
    opacity: 1;
  }
}

.pagination-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.page-number {
  color: var(--grey-page-num);
}

.current a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  color: var(--primary-dark);

  border: 1px solid var(--primary-dark);
  border-radius: 50%;
}

.modal-exercises__button-favourites.unfavorite-btn {
  background-color: var(--primary-dark);
  color: var(--bg-color);
}

.modal-exercises__button-favourites.add-to-favorites-btn {
  background-color: var(--bg-color);
  color: var(--primary-dark);
}
