.card-title-container > svg {
  width: 24px;
  height: 24px;
}

.favorite-info-card {
  padding: 16px;

  width: 335px;

  border-radius: 15px;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .favorite-info-card {
    width: 344px;
  }
}

@media screen and (min-width: 1440px) {
  .favorite-info-card {
    width: 405px;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.category-and-icon {
  display: flex;
  gap: 8px;
  align-items: center;
}

.category-tag {
  padding: 5px 8px;

  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: normal;
  border-radius: 15px;
  border: 1px solid #242424;
}

.icon-rating-container {
  display: flex;
  gap: 2px;

  padding-left: 8px;
}

.rating-info-card {
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.start-btn {
  display: flex;
  gap: 8px;
  align-items: center;

  padding: 0;
  width: 58px;
  height: 18px;
  border: none;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  background-color: inherit;
}

.card-title-container {
  display: flex;
  gap: 16px;
  align-items: center;

  margin-bottom: 16px;
}

.card-title {
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.card-info-list {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .card-info-list {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .card-info-list {
    gap: 16px;
  }
}

.item-text {
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(36, 36, 36, 0.4);
}

.item-text > em {
  display: inline-flex;

  color: #242424;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  em > strong {
    visibility: hidden;
    width: 0;
  }

  .hidden-overflow-text {
    max-width: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hidden-overflow-text::after {
    content: '...';
  }
}

.remove-btn {
  border: none;
  background-color: inherit;
}

.favorite-cards-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

@media screen and (min-width: 768px) {
  .favorite-cards-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .favorite-cards-list {
    width: calc(100% + 16px);
    height: 100vh;
    overflow-y: scroll;
  }
}

/*Scroll*/

.scrollbar-container {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;

  width: 100%;
}

.favorite-cards-list::-webkit-scrollbar {
  width: 12px; /* ширина для вертикального скролбару */
}

/* Стилізація треку (доріжки) скролбару */
.favorite-cards-list::-webkit-scrollbar-track {
  /* position: absolute;
  right: -16px;
  top: -50px; */

  border-radius: 12px;
  background: rgba(36, 36, 36, 0.1);
}

/* Стилізація рухомої частини (thumb) скролбару */
.favorite-cards-list::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #242424;
}

/* Quotation */
.quotation-container {
  width: 100%;
  margin-bottom: 32px;
  background-color: rgb(186, 186, 186);
  height: 100vh;
}

@media screen and (min-width: 1440px) {
  .quotation-container {
    width: 494px;
  }
}

@media screen and (min-width: 1440px) {
  .favorites-container {
    display: flex;
    gap: 32px;
  }
}

.favorites-title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px; /* 135.714% */
  letter-spacing: -0.56px;
}

@media screen and (min-width: 768px) {
  .favorites-title {
    margin-bottom: 32px;

    font-size: 44px;
    line-height: 48px; /* 109.091% */
    letter-spacing: -0.88px;
  }
}
