.container-loader {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  border: transparent;
  top: 0;
  position: fixed;
  z-index: 100;
  transition: 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
}

.loader-img {
  height: 128px;
  width: 128px;
}
