.share-button {
  position: relative;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border-radius: 18px;
  border: 1px solid #242424;
  /* border: none; */
  color: #242424;
}

.share-button-hint {
  position: absolute;
  display: block;
  padding: 5px 10px;
  bottom: 46px;
  right: 0px;
  width: 110px;
  font-size: 12px;
  color: #d4d4d4;
  background-color: #242424;
  border-radius: 5px;
  transition: opacity 250ms linear;
  opacity: 0;
  pointer-events: none;
}

.share-button:hover .share-button-hint {
  opacity: 1;
}

.share-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .share-button {
  }
}

@media screen and (min-width: 1440px) {
}
