<section class="exercises section container" id="exercises">
  <load ="partials/quote.html" />

  <div class="exercises_title-row-container">
    <div class="exercises_title-wrapper">
      <h2 class="section-title">Exercises</h2>
      <p class="section-title_additional visually-hidden">
        <span class="section-title">/</span><span id="title-category"></span>
      </p>
    </div>
    <div class="exercises_tab-wrapper">
      <div class="search-box visually-hidden-ext">
        <input type="text" class="search-input" placeholder="Search" />
        <button type="button" class="search-btn" id="search-button">
          <svg class="search-icon" width="18" height="18">
            <use href="./images/searchIcon.svg#icon-search"></use>
          </svg>
        </button>
      </div>
      <ul class="exercises_filter-list">
        <li class="exercises_filter-item">
          <button
            class="exercises_filter-btn row-accent active"
            type="button"
            data-exercises
            data-muscles
          >
            Muscles
          </button>
        </li>
        <li class="exercises_filter-item">
          <button
            class="exercises_filter-btn row-accent"
            type="button"
            data-exercises
            data-body
          >
            Body parts
          </button>
        </li>
        <li class="exercises_filter-item">
          <button
            class="exercises_filter-btn row-accent"
            type="button"
            data-exercises
            data-equipment
          >
            Equipment
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="exercises_category-set">
    <ul class="exercises_category-list" id="category-list-container">
      <!-- createCategoryCardListMarkup(data) -->
    </ul>
    <ul class="exercises_category-list" id="exercises-list-container">
      <!-- map createInfoCardMarkup(result) -->
    </ul>
    <ul class="exercises_pagination">
      <!-- createPaginationMarkup(data) -->
    </ul>
  </div>
</section>
