<section class="exercises section container">
  <h2 class="section-title">Exercises</h2>
  <ul class="exercises_filter-list">
    <li class="exercises_filter-item">
      <button class="exercises_filter-btn row-accent active">Muscles</button>
    </li>
    <li class="exercises_filter-item">
      <button class="exercises_filter-btn row-accent">Body parts</button>
    </li>
    <li class="exercises_filter-item">
      <button class="exercises_filter-btn row-accent">Equipment</button>
    </li>
  </ul>
  <div class="exercises_category-set">
    <ul class="exercises_category-list">
      <li class="exercises_category-item">
        <div class="exercises_category-descr">
          <h3 class="exercises_category-title">Abductors</h3>
          <p class="exercises_category-text">Muscles</p>
        </div>
      </li>
      <li class="exercises_category-item">
        <div class="exercises_category-descr">
          <h3 class="exercises_category-title">Abductors</h3>
          <p class="exercises_category-text">Muscles</p>
        </div>
      </li>
      <li class="exercises_category-item">
        <div class="exercises_category-descr">
          <h3 class="exercises_category-title">Abductors</h3>
          <p class="exercises_category-text">Muscles</p>
        </div>
      </li>
      <li class="exercises_category-item">
        <div class="exercises_category-descr">
          <h3 class="exercises_category-title">Abductors</h3>
          <p class="exercises_category-text">Muscles</p>
        </div>
      </li>
      <li class="exercises_category-item">
        <div class="exercises_category-descr">
          <h3 class="exercises_category-title">Abductors</h3>
          <p class="exercises_category-text">Muscles</p>
        </div>
      </li>
    </ul>
  </div>
</section>
