<section class="exercises section">
  <h2 class="section-title">Exercises</h2>
  <ul class="exercises_filter-list">
    <li class="exercises_filter-item">
      <button class="exercises_filter-btn row-accent current">Muscles</button>
    </li>
    <li class="exercises_filter-item">
      <button class="exercises_filter-btn row-accent">Body parts</button>
    </li>
    <li class="exercises_filter-item">
      <button class="exercises_filter-btn row-accent">Equipment</button>
    </li>
  </ul>
  <div>
    <ul></ul>
  </div>
</section>
