<section id="favorites-section" class="favorites-section container">
  <h1 class="favorites-title">Favorites</h1>
  <div class="favorites-container">
    <!-- <section class="quote"></section> -->
    <!-- <section>
      <div class="quote-container container">
        <div class="quote-of-the-day">
          <svg class="quote-icon" width="34" height="32">
            <use
              href="../images/svg.icons/symbol-defs.svg#icon-runing-man"
            ></use>
          </svg>
          <h3 class="quote-heading">Quote of the day</h3>
          <svg class="invert-coma-icon" width="20" height="20">
            <use
              href="../images/svg.icons/symbol-defs.svg#icon-inverted-commas"
            ></use>
          </svg>
          <p class="quote-text">Text</p>
          <p class="quote-author">Autor</p>
        </div>

        <div class="recomendation-container">
          <svg class="recoendation-icon" width="34" height="32">
            <use
              href="../images/svg.icons/symbol-defs.svg#icon-dumb-bell"
            ></use>
          </svg>
          <h3 class="recomendation-heading">110 min</h3>
          <h4 class="recomendation-subheading">Daily norm of sports</h4>
        </div>
        <div class="quote-image">
          <picture>
            <source
              srcset="../images/quote-fav-mob@1x.jpg"
              media="(max-width: 767px)"
            />
            <source
              srcset="../images/quote-fav-tab@1x.jpg"
              media="(min-width: 768px)"
            />

            <img
              class="hero-img cropped-image"
              src="../images/quote-fav-desk@1x.jpg"
              alt="women-sportswear-taking-break-from-workout"
            />
          </picture>
        </div>
      </div>
    </section> -->
    <!-- <div class="quotation-container"></div> -->
    <load ="../partials/quote-favorites.html" />
    <div class="text-nocard-container hidden">
      <p class="no-cards-text">
        It appears that you haven't added any exercises to your favorites yet.
        To get started, you can add exercises that you like to your favorites
        for easier access in the future.
      </p>
    </div>
    <div class="scrollbar-container">
      <div class="list-thumb">
        <ul class="favorite-cards-list" id="favorite-cards-list"></ul>
      </div>
    </div>
    <ul class="pagination-container" id="pagination-container"></ul>
  </div>
</section>
