<section id="favorites-section" class="favorites-section container">
  <h1 class="favorites-title">Favorites</h1>
  <div class="favorites-container">
    <div class="quotation-container"></div>
    <div class="text-nocard-container hidden">
      <p class="no-cards-text">
        It appears that you haven't added any exercises to your favorites yet.
        To get started, you can add exercises that you like to your favorites
        for easier access in the future.
      </p>
    </div>
    <div class="scrollbar-container">
      <ul class="favorite-cards-list" id="favorite-cards-list"></ul>
    </div>
  </div>
</section>
