<footer class="footer">
  <div class="container">
    <div class="logo">YOUR ENERGY</div>
    <ul class="socials-list">
      <li>Facebook</li>
      <li>Instagram</li>
      <li>YouTube</li>
    </ul>
    <p>Transforming your <span>body</span> shape with us</p>
    <p>Subscribe and learn about new exercises!</p>
    <form>
      <input type="email" placeholder="Email" />
      <button type="submit">Send</button>
    </form>
    <p>Your Energy. All rights reserved.</p>
    <p>Privacy Policy</p>
    <span>&#47;</span>
    <p>Terms of Service</p>
    <p>&copy;2023</p>
  </div>
</footer>
