<footer class="footer">
  <div class="container">
    <div class="content-wrapper">
      <div class="footer-head">
        <a href="./" class="logo">
          <svg class="logo-icon" width="132" height="24">
            <use href="./logo.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="socials-list">
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="./socials.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="./socials.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="./socials.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-content">
        <p class="footer-slogan">Transforming your <i>body</i> shape with us</p>

        <form class="footer-form">
          <p class="form-title">Subscribe and learn about new exercises!</p>
          <input
            class="form-input"
            type="email"
            name="email"
            placeholder="Email"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            required
          />
          <button class="form-button" type="submit">Send</button>
        </form>
      </div>
    </div>

    <div class="conditions-row">
      <p class="copyright">Your Energy. All rights reserved.</p>
      <div class="conditions-wrapper">
        <div class="conditions">
          <button class="conditions-button" data-modal-license-open>
            Privacy Policy
          </button>
          <span>&#47;</span>
          <button class="conditions-button" data-modal-license-open>
            Terms of Service
          </button>
        </div>
        <p>&copy;2023</p>
      </div>
    </div>
  </div>
</footer>
