<header class="container">
  <div class="header_block">
    <a href="/index.html" class="logo">
      <svg>
        <use href="/sprite-header.svg#icon-logo"></use>
      </svg>
    </a>

    <nav class="nav">
      <ul class="nav_list">
        <li class="nav_item_home">
          <a class="nav_link_home" href="/index.html">Home</a>
        </li>
        <li class="nav_item_favorite">
          <a class="nav_link_favorites" href="/favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>

    <ul class="social_list">
      <li>
        <a href="https://www.facebook.com/goITclub/" target="_blank">
          <svg width="40" height="40">
            <use href="/sprite-header.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/goitclub/" target="_blank">
          <svg width="40" height="40">
            <use href="/sprite-header.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/GoIT" target="_blank">
          <svg width="40" height="40">
            <use href="/sprite-header.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button id="openModalBtn" class="burger_btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
      >
        <path
          d="M28 13.3334H4"
          stroke="#242424"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M28 8H4"
          stroke="#242424"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M28 18.6666H4"
          stroke="#242424"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M28 24H4"
          stroke="#242424"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</header>
