<!-- HERO SECTION -->

<section class="hero">
  <div class="hero-container container">
    <div class="hero-desktop">
      <div class="hero-content-container">
        <div class="hero-main-heading">
          <h1 class="hero-heading">
            <svg class="hero-logo" width="38" height="38">
              <use
                href="../images/svg.icons/symbol-defs.svg#icon-sun-logo"
              ></use>
            </svg>
            Get <span class="italic">Body</span> in<br />
            shape, Stay healthy
          </h1>
        </div>
        <div class="hero-main-text">
          <p class="hero-text">
            Transform your physique and embrace a healthier <br />
            lifestyle with our comprehensive fitness and nutrition <br />
            support.
          </p>
        </div>
      </div>

      <div class="hero-side-content-container">
        <div class="hero-side-img-descktop">
          <picture>
            <source
              srcset="
                ../images/young-women-doing-fitness-outdoors-together@1x.jpg
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ../images/young-women-doing-fitness-outdoors-together@2x.jpg
              "
              media="(min-width: 768px)"
            />

            <img
              class="hero-img cropped-image"
              src="../images/young-women-doing-fitness-outdoors-together@1x.jpg"
              alt="women-sportswear-working-out-outdoors"
            />
          </picture>
        </div>
        <div class="hero-hashtags-desktop">
          <ul class="hero-hashtags-desktop-list">
            <li class="hashtag-desktop">&num;Sport</li>
            <li class="hashtag-desktop">&num;Healthy</li>
            <li class="hashtag-desktop">&num;Workout</li>
            <li class="hashtag-desktop">&num;Diet</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="hero-img-container"></div>

    <div class="hero-hashtags">
      <ul>
        <li class="hashtag">&num;Sport</li>
        <li class="hashtag">&num;Healthy</li>
        <li class="hashtag">&num;Workout</li>
        <li class="hashtag">&num;Diet</li>
      </ul>
    </div>
  </div>
</section>
