<!-- HERO SECTION -->
<section class="hero">
  <div class="hero-container container">
    <div class="hero-desktop">
      <div class="hero-content-container">
        <div class="hero-main-heading">
          <h1 class="hero-heading">
            <svg class="hero-logo" width="38" height="38">
              <use
                href="../images/svg.icons/symbol-defs.svg#icon-sun-logo"
              ></use>
            </svg>
            Get <span class="italic">Body</span> in<br />
            shape, Stay healthy
          </h1>
        </div>
        <div class="hero-main-text">
          <p class="hero-text">
            Transform your physique and embrace a healthier <br />
            lifestyle with our comprehensive fitness and nutrition <br />
            support.
          </p>
        </div>
      </div>

      <div class="hero-side-content-container">
        <div class="hero-side-img-descktop">
          <picture>
            <source
              srcset="
                ../images/young-women-doing-fitness-outdoors-together@1x.jpg
              "
              media="(max-width: 767px)"
            />
            <!-- Для зображення Retina (2x) -->
            <source
              srcset="
                ../images/young-women-doing-fitness-outdoors-together@2x.jpg
              "
              media="(min-width: 768px)"
            />

            <!-- Тег img для стандартних екранів -->
            <img
              class="hero-img cropped-image"
              src="../images/young-women-doing-fitness-outdoors-together@1x.jpg"
              alt="women-sportswear-working-out-outdoors"
            />
          </picture>
        </div>
        <div class="hero-hashtags-desktop">
          <ul class="hero-hashtags-desktop-list">
            <li class="hashtag-desktop">&num;Sport</li>
            <li class="hashtag-desktop">&num;Healthy</li>
            <li class="hashtag-desktop">&num;Workout</li>
            <li class="hashtag-desktop">&num;Diet</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="hero-img-container"></div>

    <div class="hero-hashtags">
      <ul>
        <li class="hashtag">&num;Sport</li>
        <li class="hashtag">&num;Healthy</li>
        <li class="hashtag">&num;Workout</li>
        <li class="hashtag">&num;Diet</li>
      </ul>
    </div>
  </div>
</section>

<!-- QUOTE 0F THE DAY SECTION -->

<section class="quote">
  <div class="quote-container container">
    <div class="quote-of-the-day">
      <svg class="quote-icon" width="34" height="32">
        <use href="../images/svg.icons/symbol-defs.svg#icon-runing-man"></use>
      </svg>
      <h3 class="quote-heading">Quote of the day</h3>
      <svg class="invert-coma-icon" width="20" height="20">
        <use
          href="../images/svg.icons/symbol-defs.svg#icon-inverted-commas"
        ></use>
      </svg>
      <p class="quote-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste optio
        magni consectetur officiis quasi, veritatis beatae corporis esse ut eius
        aspernatur consequatur neque laborum voluptatem hic facere dolorem, nisi
        accusamus?
      </p>
      <p class="quote-author">Author</p>
    </div>
    <div class="quote-image">
      <picture>
        <source
          srcset="../images/quote-home-desk@1x.jpg"
          media="(max-width: 767px)"
        />
        <source
          srcset="../images/quote-home-desk@2x.jpg"
          media="(min-width: 768px)"
        />

        <img
          class="hero-img cropped-image"
          src="../images/quote-home-desk@1x.jpg"
          alt="women-sportswear-taking-break-from-workout"
        />
      </picture>
    </div>
    <div class="recomendation-container">
      <svg class="recoendation-icon" width="34" height="32">
        <use href="../images/svg.icons/symbol-defs.svg#icon-dumb-bell"></use>
      </svg>
      <h3 class="recomendation-heading">110 min</h3>
      <h4 class="recomendation-subheading">Daily norm of sports</h4>
      <div class="recomendation-text-container">
        <p class="recomendation-text">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day? While it might seem like a high number to hit,
          dedicating 110 minutes daily to sporting activities may offer
          unparalleled benefits to physical health, mental well-being, and
          overall quality of life.
        </p>
      </div>
    </div>
  </div>
</section>
<script src="../js/hero.js"></script>
