<!-- HERO SECTION -->
<section class="hero">
  <div class="hero-container container">
    <div class="hero-desktop">
      <div class="hero-content-container">
        <div class="hero-main-heading">
          <h1 class="hero-heading">
            <svg class="hero-logo" width="38" height="38">
              <use
                href="./images/svg.icons/symbol-defs.svg#icon-sun-logo"
              ></use>
            </svg>
            Get <span class="italic">Body</span> in<br />
            shape, Stay healthy
          </h1>
        </div>
        <div class="hero-main-text">
          <p class="hero-text">
            Transform your physique and embrace a healthier <br />
            lifestyle with our comprehensive fitness and nutrition <br />
            support.
          </p>
        </div>
      </div>

      <div class="hero-side-content-container">
        <div class="hero-side-img-descktop">
          <picture>
            <source
              srcset="
                ./images/young-women-doing-fitness-outdoors-together@1x.webp
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/young-women-doing-fitness-outdoors-together@2x.webp
              "
              media="(min-width: 768px)"
            />

            <img
              class="hero-img cropped-image"
              src="./images/young-women-doing-fitness-outdoors-together@1x.webp"
              alt="women-sportswear-working-out-outdoors"
            />
          </picture>
        </div>
        <div class="hero-hashtags-desktop">
          <ul class="hero-hashtags-desktop-list">
            <li class="hashtag-desktop">
              <p>&num;Sport</p>
            </li>
            <li class="hashtag-desktop">
              <p>&num;Healthy</p>
            </li>
            <li class="hashtag-desktop">
              <p>&num;Workout</p>
            </li>
            <li class="hashtag-desktop">
              <p>&num;Diet</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="hero-img-container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/hero-1440@1x.webp 1x,
                  ./images/hero-1440@2x.webp 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/hero-768@1x.webp 1x,
                  ./images/hero-768@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/hero-375@1x.webp 1x,
                  ./images/hero-375@2x.webp 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="swiper-image"
                src="./images/hero-375@1x.webp"
                alt="people sport"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/hero-1440-2@1x.webp 1x,
                  ./images/hero-1440-2@2x.webp 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/hero-768-2@1x.webp 1x,
                  ./images/hero-768-2@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/hero-375-2@1x.webp 1x,
                  ./images/hero-375-2@2x.webp 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="swiper-image"
                src="./images/hero-375-2@1x.webp"
                alt="people sport"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/hero-1440-3@1x.webp 1x,
                  ./images/hero-1440-3@2x.webp 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/hero-768-3@1x.webp 1x,
                  ./images/hero-768-3@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/hero-375-3@1x.webp 1x,
                  ./images/hero-375-3@2x.webp 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="swiper-image"
                src="./images/hero-375-3@1x.webp"
                alt="people sport"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-hashtags">
      <ul class="hero-hashtags-list">
        <li class="hashtag"><p>&num;Sport</p></li>
        <li class="hashtag"><p>&num;Healthy</p></li>
        <li class="hashtag"><p>&num;Workout</p></li>
        <li class="hashtag"><p>&num;Diet</p></li>
      </ul>
    </div>
  </div>
</section>
