<div id="myModal" class="modal_mobile">
  <div class="modal-content_mobile">
    <span class="close" id="closeModalBtn">&times;</span>
    <nav>
      <ul class="navi_list">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/favorites.html">Favorites</a></li>
      </ul>
    </nav>

    <ul class="social_list_mobile_menu">
      <li>
        <a href="https://www.facebook.com/goITclub/" target="_blank">
          <svg width="40" height="40">
            <use href="/sprite-header.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/goitclub/" target="_blank">
          <svg width="40" height="40">
            <use href="/sprite-header.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/GoIT" target="_blank">
          <svg width="40" height="40">
            <use href="/sprite-header.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
