<div id="ratingModal" class="modal-rating">
  <div class="modal-rating-content">
    <span class="close-rating">&times;</span>
    <form id="ratingForm" class="form-rating">
      <div>
        <label class="rating-text">Rating:</label>
      </div>
      <div class="block-rating-input">
        <div class="rating">
          <input type="radio" id="star5" name="rate" value="5" required /><label
            for="star5"
          ></label>

          <input type="radio" id="star4" name="rate" value="4" required /><label
            for="star4"
          ></label>

          <input type="radio" id="star3" name="rate" value="3" required /><label
            for="star3"
          ></label>

          <input type="radio" id="star2" name="rate" value="2" required /><label
            for="star2"
          ></label>

          <input type="radio" id="star1" name="rate" value="1" required /><label
            for="star1"
          ></label>
        </div>
      </div>
      <div>
        <input
          class="rating-input-email"
          placeholder="Email"
          type="email"
          name="email"
          required
        />
      </div>
      <div>
        <input
          class="rating-input-comment"
          placeholder="Your comment"
          type="text"
          name="review"
          required
        />
      </div>
      <button class="rating-btn-submit" type="submit">Send</button>
    </form>
  </div>
</div>
