<button class="openModalButton">Open Modal</button>

<div class="modal-exercises backdrop visually-hidden">
  <div class="modal-exercises__card">
    <button type="button" class="modal-exercises__button-close">
      <svg class="modal-exercises__button-icon" width="12" height="12">
        <use href="./images/icons.svg#icon-button-close"></use>
      </svg>
    </button>
    <div class="modal-exercises__image-wrapper">
      <img class="modal-exercises__image" src="" alt="" />
    </div>
    <div class="modal-exercises__description">
      <p class="modal-exercises__name">Air bake</p>
      <div class="modal-exercises__rating">
        <div class="modal-exercises__rating-value">4.0</div>
        <div class="modal-exercises__rating-star" data-value="1">
          <svg class="modal-exercises__rating-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </div>
        <div class="modal-exercises__rating-icon" data-value="2">
          <svg class="modal-exercises__rating-star" width="12" height="12">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </div>
        <div class="modal-exercises__rating-icon" data-value="3">
          <svg class="modal-exercises__rating-star" width="12" height="12">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </div>
        <div class="modal-exercises__rating-icon" data-value="4">
          <svg class="modal-exercises__rating-star" width="12" height="12">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </div>
        <div class="modal-exercises__rating-icon" data-value="5">
          <svg class="modal-exercises__rating-star" width="12" height="12">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </div>
      </div>
      <div class="modal-exercises__partials">
        <div class="modal-exercises__partials-item">
          <p class="modal-exercises__partials-title">Target</p>
          <p class="modal-exercises__partials-value">Abs</p>
        </div>
        <div class="modal-exercises__partials-item">
          <p class="modal-exercises__partials-title">Body Part</p>
          <p class="modal-exercises__partials-value">Waist</p>
        </div>
        <div class="modal-exercises__partials-item">
          <p class="modal-exercises__partials-title">Equipment</p>
          <p class="modal-exercises__partials-value">Body weight</p>
        </div>
        <div class="modal-exercises__partials-title">
          <p class="modal-exercises__partials-title">Popular</p>
          <p class="modal-exercises__partials-value">150</p>
        </div>
        <div class="modal-exercises__partials-item">
          <p class="modal-exercises__partials-title">Burned calories</p>
          <p class="modal-exercises__partials-value">323/3 min</p>
        </div>
      </div>
      <p class="modal-exercises__text">
        This refers to your core muscles, which include the rectus abdominis,
        obliques, and transverse abdominis. They're essential for maintaining
        posture, stability, and generating force in many movements. Exercises
        that target the abs include crunches, leg raises, and planks.
      </p>
      <div class="modal-exercises__buttons">
        <button type="submit" class="modal-exercises__button-favourites">
          Add to favorites
          <svg
            class="modal-exercises__button-favourites_icon"
            width="20"
            height="20"
          >
            <use href="./images/icons.svg#icon-heart"></use>
          </svg>
        </button>
        <button class="modal-exercises__button-rating">Give a rating</button>
      </div>
    </div>
  </div>
</div>
