<div class="license-backdrop is-hidden" data-modal-license>
  <div class="license-modal modal-license-scroll">
    <button
      class="license-modal-btn-close"
      type="button"
      data-modal-license-close
    >
      <svg width="24" height="24" aria-label="icon-button-close">
        <use
          href="./images/svg.icons/sprite-modal-license.svg#icon-close-button"
        ></use>
      </svg>
    </button>
    <h2 class="modal-title">
      <span class="modal-bold-name">YOUR ENERGY! </span>Terms of Service
    </h2>
    <div class="">
      <ol class="modal-license-list">
        <li>
          Acceptance of Terms<br />
          <p>
            Welcome to
            <span class="modal-bold-name">YOUR ENERGY! </span>These Terms of
            Service ("Terms") outline the terms of use of our sports application
            (referred to as "Services"). By accessing or using our Services, you
            agree to comply with and be bound by these Terms. If you don't agree
            with these Terms, please do not use our Services.
          </p>
        </li>
        <li>
          Services Overview<br />
          <p>
            <span class="modal-bold-name">YOUR ENERGY </span>is aimed at
            ensuring involvement in. Our goal is to help transform your physique
            and embrace a healthier lifestyle with our comprehensive fitness and
            nutrition support.
          </p>
        </li>
        <li>
          Content and Intellectual Property
          <ol>
            <li>
              Materials of our sports application: All materials, including
              text, videos, graphics, and other content, are the intellectual
              property of
              <span class="modal-bold-name">YOUR ENERGY </span>or its licensors.
              You are granted a limited, non-exclusive, non-transferable license
              to access and use these materials for educational purposes only.
            </li>
            <li>
              Prohibited Use: You may not reproduce, distribute, modify, create
              derivative works of, publicly display, or perform any of our
              sports applicatione materials without prior written consent from
              <span class="modal-bold-name">YOUR ENERGY</span>.
            </li>
          </ol>
        </li>
        <li>
          User Conduct
          <ol>
            <li>
              Respectful Behavior:
              <span class="modal-bold-name">YOUR ENERGY </span>maintains a
              respectful and inclusive environment. You agree not to engage in
              any behavior that is harmful, discriminatory, harassing, or
              disruptive to other members.
            </li>
            <li>
              Compliance with Laws: You agree to comply with all applicable laws
              and regulations while using our Services.
            </li>
          </ol>
        </li>
        <li>
          Privacy
          <p>
            Your privacy is important to us. Our Privacy Policy explains how we
            collect, use, and protect your personal information. By using our
            Services, you consent to the collection and use of your information
            as described in our Privacy Policy.
          </p>
        </li>
        <li>
          Termination
          <p>
            In case of violation of these conditions,
            <span class="modal-bold-name">YOUR ENERGY </span>reserves the right
            to suspend or terminate the action your access to our Services is at
            your discretion, with or without reason.
          </p>
        </li>
        <li>
          Disclaimer of Warranties
          <p>
            Our Services are provided "as is" and "as available".
            <span class="modal-bold-name">YOUR ENERGY </span>does not make any
            warranties, whether expressed or implied, regarding the accuracy,
            reliability, or availability of the Services.
          </p>
        </li>
        <li>
          Limitation of Liability
          <p>
            <span class="modal-bold-name">YOUR ENERGY </span>shall not be liable
            for any indirect, incidental, special, consequential, or punitive
            damages arising out of or in connection with the use of our
            Services.
          </p>
        </li>
        <li>
          Modifications to Terms
          <p>
            <span class="modal-bold-name">YOUR ENERGY </span>reserves the right
            to modify or update these Terms at any time. We will provide notice
            of such changes, and your continued use of our Services after the
            changes are posted will signify your acceptance of the modified
            Terms.
          </p>
        </li>
      </ol>
    </div>
  </div>
</div>
