@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import url('./reset.css');
@import url('./common.css');
@import url('./container.css');
/* @import './partials/header.css';
@import url('./partials/hero.css'); */
@import url('./partials/exercises.css');
/* @import url('./partials/footer.css');
@import url('./partials/mobile-menu.css');
@import url('./partials/modal-exercises.css');
@import url('./partials/modal-rating.css');
@import url('./partials/favorites-section.css');  */

:root {
  --bg-color: #f4f4f4;
  --primary-dark: #242424;
  --white: #ffffff;
  --light-grey: #c6cdd1;
  --grey-page-num: #d4d4d4;
  --orange: #eea10c;
  --black: #111111;

  --black-50: rgb(17, 17, 17, 0.5);
  --primary-dark-60: rgb(36, 36, 36, 0.6);
  --primary-dark-10: rgb(36, 36, 36, 0.1);
  --bg-color-60: rgb(244, 244, 244, 0.6);
  --bg-color-20: rgb(244, 244, 244, 0.2);
  --bg-color-10: rgb(244, 244, 244, 0.1);

  --bg-modal: rgb(4, 4, 4, 0.4);

  --font-weight-medium: 500;
  --font-weight-reg: 400;
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'DMSans';
  src: url('../../assets/fonts/DMSans/DMSans-Regular.ttf');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'DMSans';
  src: url('../../assets/fonts/DMSans/DMSans-Medium.ttf');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'DMSans';
  src: url('../../assets/fonts/DMSans/DMSans-Italic.ttff');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}
